@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.5 'Inter', sans-serif;
    height: 100vh;
    display: flex;

}

img{
    display: block;
    width: 100%;
    height: auto;
}

a{
    display: block;
    text-decoration: none;
    color: inherit;
}


.card{
    background-color: #85DCFF;
    margin: auto;
    display: flex;
    align-items: center;
    height: 613px;
    width: 1080px;
    padding: 2em;
    gap: 2em;
}

.card h1{
    font-size: 45px;
}

.card .text{
    padding: 2em 0;
    text-wrap: nowrap;
}

.buttons{
    display: flex;
    gap: 2em;
}

.buttons a{
    padding: 1em 2em;
    border-radius: 4px;
}

.get-started{
    border: 1px solid black;
    background: #42AA59;
}


.learn-more{
    background-color: white;
}


.get-started:hover{
    color: white;
    background-color: black;
}


.card .image-container{
    height: 450px;
    width: 400px;
    margin-bottom: 5em;
    align-self: flex-end;
    box-shadow: 5px 5px 10px 0px #000000;
}

