@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font: 14px/1.5 'Inter', sans-serif;
    background-image: url('image/background.jpg');
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-start;
}

a{
    text-decoration: none;
    font-size: inherit;
}


.item{
    background: white;
    max-width: 517px;
    max-height: 662px;
    padding: 2em;
    flex: 0 0 auto;
    margin-top: 5em;
    margin-right: 0;
}

.item:first-child{
    margin-left: 140px;
}

.item h1{
    text-transform: uppercase;
    padding-bottom: 1em;
}

.item #header-p{
    font-size: 25px;
}

#big{
    font-size: 72px;
    font-weight: bold;
}

.item #small{
    font-size: 14px;
    padding-top: 1em;
    padding-bottom: 1em;
    opacity: 0.8;
    padding-bottom: 2em;
}

.item ul{
    list-style-type: none;
    font-size: 20px;
    padding-bottom: 5em;
}

.item ul li{
    padding-top: 0.5em;
}

.item ul li:before{
  content:"\2713\0020";
  font-weight: bold;

}

.button{
    display: block;
    padding: 1em;
    max-width: 150px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 0.3em;
    margin-bottom: 2em;
}

.second{
   max-height: 900px;
}

.second h1{
    margin-top: 1em;
}

.third{
    max-height: 700px;
}

