@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font: 16px/1.5 'Inter', sans-serif;
    background-image: url('image/background.jpg');
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: center;
}

a{
    text-decoration: none;
    color: inherit;
}

.plan{
    margin-top:8em;
}



.basic{
    height: 640px;
    width: 515px;
    background-color: white;
    padding: 2em;
}

.standard{
    width: 515px;
    height: 680px;
    background-color: white;
    padding: 2em;
}

.premium{
    width: 515px;
    height: 670px;
    background-color: white;
    padding: 2em;
}


.plan h2{
    text-transform: uppercase;
    font-size: 32px;
}

.plan .price{
    font-size: 24px;
}

.price .big{
    font-weight: bold;
    font-size: 90px;
}

.small{
    opacity: 0.8;
    padding: 1em 0 2em 0;
}

.basic ul, .standard ul{
    list-style-type: none;
    font-size: 21px;
    padding-bottom: 3em;
}

.premium ul{
    list-style-type: none;
    font-size: 21px;
    padding-bottom: 1em;
}

ul li{
    display: flex;
    gap: 0.4em
}

ul li p{
    max-width: 40ch;
    padding-bottom: 0.5em;
}

.premium ul li .smaller-text{
    max-width: 30ch;
}

ul li:before{
    content: "\02713"
}

.button{
    padding: 1em 2em;
    color: white;
    background: black;
    display: inline-block;
    border-radius: 0.2em;
}

