*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font: 16px/1.5 Lato, sans-serif;
}

img{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav{
    background: black;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: inherit;
}

#logo{
    flex-basis: 1%;
}

.nav-content{
    display: flex;
    color: white;
    gap: 2em;
    align-self: center;
    justify-self: flex-end;
    padding-right: 1em;
}

.plans-banner{
    height: 250px;
    background-color: #1DB954;
    text-align: center;
    padding: 4em;
    color: white;
}

#absolute-position-image{
    max-width: 600px;
    background: transparent;
    position: absolute;
    top: 11%;
}

.plans-flex-container{
    border: 2px solid black;
    display: flex;
    position: relative;
    max-width: 500px;
    left: 25%;
    border-radius: 1em;

}

.individual-studnet-plan{
    box-shadow: 0 0 1em 0 rgb(0,0,0,-0.1);
    z-index: 5;
}

.individual-studnet-plan .main{
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    opacity: 0.8;
}


.individual-studnet-plan h1{
    text-align: center;
    opacity: 0.8;
    margin-bottom: 2em;
}

.individual-studnet-plan p{
    margin-bottom: 1em;
}


.free-trial-button{
    display: block;
    background-color: #1DB954;
    max-width: 250px;
    max-height: 50px;
    border-radius: 3em;
    color: white;
    text-align: center;
    margin: 1em auto;
    padding: 1px;
}

.subscribe-buttons{
    display: flex;
    border-top: 1px solid black;
    background-color: black;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    color: white;
    opacity: 0.9;
}

.subscribe-buttons *{
    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center;
}


#first{
    display: block;
    border-right: 1px solid white;
    flex-basis: 50%;
}