*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.buttons{
    margin: 1em;
}
.button1{
    display: inline-block;
    background-color: lightgray;
    padding: 1em;
    max-width: 100px;
    max-height: 100px;
    border: 1px solid #eee;
    border-radius: 5px;

}

.button2{
    display: inline-block;
    background-color: orange;
    padding: 1em;
    max-width: 100px;
    max-height: 100px;
    border: 1px solid #eee;
    border-radius: 5px;

}


.button3{
    display: inline-block;
    background-color: lightyellow;
    padding: 1em;
    max-width: 100px;
    max-height: 100px;
    border: 1px solid #eee;
    border-radius: 5px;
}


.button4{
    display: inline-block;
    background-color: white;
    padding: 1em;
    max-width: 100px;
    max-height: 100px;
    border: 1px solid #eee;
    border-radius: 5px;

}

.button5{
    display: inline-block;
    background-color:grey;
    padding: 1em;
    padding-left: 2em;
    max-width: 100px;
    max-height: 100px;
    border: 1px solid #eee;
    border-radius: 5px;
}