@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&amp;display=swap');

*{    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT sans', sans-serif;
}

img{
    display: block;
    width: 100%;
}

header{
    height: 760px;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    padding: 2em;
}

nav{
    display: flex;
    justify-content: space-between;
}

#logo{
    max-width: 160px;
    margin-left: 300px
}

.nav-buttons{
    display: flex;
    gap: 2em;
    margin-right: 8em;
}

