footer{
    background-color: #1B9772;
}

footer .container{
    height: 175px;
    color: #4FDBB1;
    letter-spacing: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .white{
    color: white;
}