.hero-section{
    height: 600px;
    color: white;
    padding: 2em;
    background-image: url('../image/fitness-main.jpg');
    background-position-y: -16em;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 6em;
    list-style-type: none;
}

.main{
    margin-top: 2em;
    text-align: center;
    margin-top: 6em;
}

.main h1{
    font-size: 64px;
    letter-spacing: 12px;
    margin: 0.5em;
}


.main .get-started-button{
    margin-top: 4em;
    background-color: #D01919;
    display: inline-block;
    padding: 0.5em 2em;
    border-radius: 0.5em;
}